.choresText {
   color: green;
   font-size: 2em;
   font-family:'Courier New', Courier, monospace;
   font-style: italic;
}

.choresHeading {
   color: green;
   font-size: 3em;
   font-family:'Courier New', Courier, monospace;
   text-decoration-line: underline;
}